.list {
	/*display: flex;
	flex-direction: row;*/
	border: 1px solid cyan;
}
select {
	width: 300px;
}
.header {
	 height: 150px;
}
.myContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.myContainer > .list {
	display: flex;
	width: 30%;
}
.myContainer > .list ul{
	height: 300px;
}
.myContainer > .list button{
	height: 10px;
}
